
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px #ccc;
            background-color: #007bff40;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 95%;
            padding: 10px;
            border: 1px solid #376f10;
            border-radius: 3px;
            margin-bottom: 10px;
            background-color: #74dc2957;
        }

        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #358573;
            border-radius: 3px;
            margin-bottom: 10px;
            background-color: #00ff9a78;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        #result {
            margin-top: 20px;
            font-weight: bold;
            color:rgb(231, 12, 12)
        }
   